<h1>{{title}}</h1>
<div *ngIf="selectedHero">
  <h2>
    <span [ngStyle]="{'color': selectedHero.color}">{{selectedHero.name | uppercase}}</span> is my hero
    <div><button (click)="gotoDetail()">View Details</button></div>
  </h2>

</div>
  <h2>Add Hero <button collapse-on-click
                        [collapsed]="collapsed"
                        (onToggle)="onToggleCollapsed($event)"
                        #cp="collapsible"
                        >
    {{(cp.collapsed)?'△':'▼'}}</button>
  </h2>
  <div class="add-hero" *ngIf="cp.collapsed">
    <label>Hero name:</label> <input #heroName />
      <button (click)="addHero(heroName.value); heroName.value=''">
        Add
      </button>
  </div>

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)"
      [ngStyle]="{'color': hero.color}">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete"
      (click)="deleteHero(hero); $event.stopPropagation()">x</button>
    <button class="star"
            [class.favorite]="hero.favorite"
            (click)="onFavorite(hero);">
      {{(hero.favorite?'&#9733;':'&#9734;')}}
    </button>

  </li>
</ul>

