<h1>{{title}}</h1>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
    <button (click)="gotoDetail()">View Details</button>
  </h2>

</div>
<div>
  <p>
    <label>Hero name:</label> <input #heroName />
    <button (click)="addHero(heroName.value); heroName.value=''">
      Add
    </button>
  </p>
</div>
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete"
            (click)="deleteHero(hero); $event.stopPropagation()">x</button>
  </li>
</ul>

