<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div>
    <label>id: </label>{{hero.id}}
  </div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name"/>
  </div>
  <div>
    <label>Color: </label>
    <input [ngModel]="hero.color" [ngStyle]="{'color':hero.color}" (keydown.Enter)="onKeyDown($e, hero)" (keyup)="onKeyUp($e, hero, color.value);" #color placeholder="color"/>
  </div>
</div>
<button (click)="goBack()">Back</button>
<button (click)="save()">Save</button>
